//colours
$bgColor: rgb(249, 249, 249);
$headingColor: rgb(62, 63, 78);
$descriptionTextColor: rgb(176, 176, 179);
$cardColor1: rgb(228, 59, 67);
$cardColor2: rgb(249, 158, 60);
$cardColor3: rgb(61, 202, 199);
$cardColor4: rgb(58, 116, 200);
