.card {
  width: 15rem;
  height: 15rem;
  &__1 {
    background-color: lightblue;
  }
  &__2 {
    background-color: lightcoral;
  }
  &__3 {
    background-color: lightgreen;
  }
  &__4 {
    background-color: lightpink;
  }
}
